[submodule "round-clock"]
	path = round-clock
	url = https://github.com/chauncey-garrett/ubersicht-roundClock.git
[submodule "network-throughput"]
	path = network-throughput
	url = https://github.com/chauncey-garrett/ubersicht-network-throughput.git
[submodule "pingo"]
	path = pingo
	url = https://github.com/chauncey-garrett/ubersicht-pingo.git
[submodule "time-machine"]
	path = time-machine
	url = https://github.com/chauncey-garrett/ubersicht-time-machine.git
[submodule "loadchart"]
	path = loadchart
	url = https://github.com/chauncey-garrett/ubersicht-loadchart.git
[submodule "loadbar"]
	path = loadbar
	url = https://github.com/chauncey-garrett/ubersicht-loadbar.git
[submodule "load"]
	path = load
	url = https://github.com/chauncey-garrett/ubersicht-load.git
