[submodule "round-clock"]
	path = round-clock
	url = https://github.com/chauncey-garrett/ubersicht-roundClock.git
[submodule "network-throughput"]
	path = network-throughput
	url = https://github.com/chauncey-garrett/ubersicht-network-throughput.git
[submodule "pingo"]
	path = pingo
	url = https://github.com/chauncey-garrett/ubersicht-pingo.git
